<div class="content">
<h1>Welcome to Blocipedia</h1>
<p>Create and share Markdown Wikis</p>
<div class="openingImage">
</div>


<div class="leftColumn">
<p>Create as many public wikis as you want! Collaborate with friends and colleuges around the world.</p>
<div class="nextLine">
<%= link_to new_user_registration_path, class: "loginButton" do %>
<div class="imageButton"><p>Sign Up for a Free Account</p></div>
<% end %>
</div>
</div>


<div class="rightColumn">
<p>With the premium plan you'll be able to create private wikis that can only be viewed and updated by your team.</p>
<div class="nextLine">
<%= link_to new_user_registration_path, class: "loginButton" do %>
<div class="imageButton"><p>Sign Up for a Premium Account</p></div>
<% end %>
</div>
</div>


</div>