// Place all the styles related to the Wikis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indexLinks{
	margin:10px 0;
	padding: 10px 10px;
	background-color:lightgrey;
}
.publicContent {
  margin: auto;
  padding: 10px 50px;
  background: rgba(15, 200, 100, 0.7);
  border: 2px solid white;
  width:50%;
  text-align:left;
}
//.content{
//    background-image: image-url('Smith_Mountain_Lake_4.jpg');
//}
.linkButton {
    
}
.private{
    background-color:pink;
}
.public{
    background-color:lightgreen;
}
.indexLinks a{
	color:black;
	text-decoration:underline;
}
.indexLinks a:visited{
	color:purple;
}
.splitContentLeft{
	width:50%;
	text-align:left;
	float:left;
}
.wikiState{
    border:black solid 2px;
    padding:10px
}
.smaller{
	font-size:12px;
}
.splitContentRight{
	width:48%;
	text-align:left;
	float:left;

}

.splitContentRight form{
	width:80%;
	margin-left:10%;
}
.splitContentRight input{
	width:100%;
	margin:10px 0;
}
.splitContentRight textarea{
	width:100%;
	margin:10px 0;
}
.splitContentLeft h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom:15px;
}

.splitContentLeft h1 {
    color: #000000;
    font-size: 28px;
}

.splitContentLeft h2 {
    border-bottom: 1px solid #CCCCCC;
    color: #000000;
    font-size: 24px;
}

.splitContentLeft h3 {
    font-size: 18px;
}

.splitContentLeft h4 {
    font-size: 16px;
}

.splitContentLeft h5 {
    font-size: 14px;
}

.splitContentLeft h6 {
    color: #777777;
    background-color: inherit;
    font-size: 14px;
}

.splitContentLeft hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

.splitContentLeft p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

.splitContentLeft code, pre {
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit;
}

.splitContentLeft code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}

.splitContentLeft pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

.splitContentLeft pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}

.splitContentLeft a, a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none;
}
.addCollaborators{
  width:80%;
  margin-left: 10%;
  height: 200px;
  overflow-y: scroll;
  padding: 10px 0;
  border:1px black solid;

}
#collabBtn{
    width:80%;
    margin-left:10%;
    }
.addCollaborators label{
    margin-left: 25px;
    position:relative;
    top:-24px;
}
.pagination{
    background:lightgrey;
    padding:10px;
    text-align:center;
    font-size:16px;
    color:grey;
    text-transform:uppercase;
}
.pagination a{
    color:black;
}

/***********************MARKDOWN CSS FROM GOOGLE******************/

blockquote {
    border-left: 2px dotted #888;
    padding-left: 5px;
    background: #d0f0ff;
}

.wmd-panel
{
/*
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    min-width: 500px;
*/
}

.wmd-button-bar 
{
    width: 100%;
    background-color: Silver; 
}

.wmd-input 
{ 
 /* 
    height: 300px;
    width: 100%;
    background-color: Gainsboro;
    border: 1px solid DarkGray;
    */
}

.wmd-preview 
{ 
  /*  background-color: #c0e0ff; */
}

.wmd-button-row 
{
    position: relative; 
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;  
    height: 20px;
}

.wmd-spacer
{
    width: 1px; 
    height: 20px; 
    margin-left: 14px;
    
    position: absolute;
    background-color: Silver;
    display: inline-block; 
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.wmd-button > span {
    background-image: url('//github.com/derobins/wmd/raw/master/images/wmd-buttons.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}




.wmd-prompt-background
{
    background-color: Black;
}

.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}


